/WebSite/packages
/WebSite/Repositories/bin
/WebSite/Repositories/obj
/WebSite/RepositoriesFacade/bin
/WebSite/RepositoriesFacade/obj
/WebSite/Services/bin
/WebSite/Services/obj
/WebSite/ServicesFacade/bin
/WebSite/ServicesFacade/obj
/WebSite/WebSite/bin
/WebSite/WebSite/obj
/WebSite/Models/bin
/WebSite/Models/obj
