@model WebSite.Models.PageBModel

<h4>PageBModel</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Code)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Code)
    </dd>

</dl>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.MessageBody)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MessageBody)
    </dd>

</dl>
