@model WebSite.Models.PageBViewModel
@{
    ViewBag.Title = "Page B";
}

<h2>Page B</h2>

<div id="pageBMessage">
    @Html.Partial("PageBMessage", Model)
</div>

<div class="html-code">
    <button class="popup-send-message" href="#sendmessage">Send Message</button>
    <button class="popup-send-email-message" href="#sendemail">Send Email Message</button>

    <form id="sendmessage" action="/Home/SendMessage" method="post" class="white-popup-block mfp-hide">
        <h1>Send Message</h1>
        <fieldset style="border:0;">
            <input type="hidden" name="Code" value=@Model.Code>
            <div>
                <label for="messagebody">Message</label><br>
                <textarea id="messageBody" name="MessageBody" required=""></textarea>
            </div>
            <div>
                <button type="submit" value="Send">Send</button>
                <button type="button" class="popup-modal-dismiss" href="#">Dismiss</button>
            </div>
        </fieldset>
    </form>

    <form id="sendemail" action="/Home/SendEmailMessage" method="post" class="white-popup-block mfp-hide">
        <h1>Send Email Message</h1>
        <fieldset style="border:0;">
            <div>
                <label for="email">Email</label>
                <input id="email" name="Email" placeholder="example@domain.com" required="" type="email">
            </div>
            <div>
                <label for="subject">Subject</label>
                <input id="subject" name="Subject" placeholder="Subject" required="" type="text">
            </div>

            <div>
                <label for="messageEmail">Message</label><br>
                <textarea id="messageEmail" name="MessageEmail" required=""></textarea>
            </div>
            <div>
                <button type="submit" value="Send">Send</button>
                <button type="button" class="popup-modal-dismiss" href="#">Dismiss</button>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/pageB.js"></script>
}